/* #GOOGLE FONT TYPEFACES*/
.montserrat-ig {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.oswald-ig {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}
/* #endregion */


/* #UNIVERSAL STYLES*/

/* Define a root variable for primary color */
:root {
  /* --main-blue: #39819A; */
  --main-blue: #275f72;
  --main-yellow: #EAA557;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}
/* #endregion */
/****************########################*****************/

/* #ID's */
/* #endregion */

/* #CLASSES - Utility Classes*/

/* shorthand for border-image property 
 * to achieve background image overlay */
.overlay {
  border-image: linear-gradient(hsl(140 10% 30% / .3),
      hsl(0 100% 30% / .3)) fill 1;
}

.header-underline {
  width: 35%;
  height: 3px;
  border: none;
  background-color: var(--main-yellow);
  margin: auto;
  color: var(--main-yellow);
}

.main-blue {
  color: var(--main-blue);
}

.main-yellow {
  color: var(--main-yellow);
}
/* #endregion */
/****************########################*****************/

/* #HEADER SECTION - Navigation, logo, etc. */
.nav-section {}

#logo-i {color: var(--main-blue);}
#logo-g {color: var(--main-yellow);}
/* #endregion */

/* #HERO SECTION */
.hero {
  height: 80vh;
  background-image: url('../images/hero-mobile2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  text-align: center;
  padding-top: 50px;
}
/* #endregion */

/* #BENEFITS SECTION*/
.benefits-section {}

.benefits-container {
  margin: auto;
  padding-bottom: 2rem;
}

.benefits-item {
  margin: auto;
  max-width: 600px;
  padding: 15px;
  border-radius: 8px;
}

.benefits-text, .benefits-text h3 {
  padding: 1rem 0;
}
/* #endregion */

/* #SUCCESS - Quotes and success stories*/
.success-section {
    max-width: 80%;
    margin: auto;
}

.success-section blockquote {
  margin-bottom: 4rem;
}

.success-section blockquote:last-child {
  margin-bottom: 2rem;
}
/* #endregion */

/* #RESOURCES*/
.resources-container {
  margin: 3rem auto;
}
/* #endregion */

/* #CTA - Subscription section*/
.cta-section {
  background-image: url('../images/poster.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* #endregion */

/* #FOOTER SECTION*/
.footer-section {
  background-color: var(--main-yellow);
  color: var(--main-blue);
}

.footer-section a {
  text-decoration: none;
  color: var(--main-blue);
}

.footer-section a:hover {
  color: #39819A;
}

.copyright-section {
  display: flex;
  justify-content: space-between;
}

.social-media a {
  margin-right: .4rem;
}
/* #endregion */
/****************########################*****************/

/* #404 PAGE - Not found Page*/
.page-not-found {
  background-image: url('../images/poster.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
}
/* #endregion */
/****************########################*****************/

/* #JOIN US PAGE */
.join-us-container {
  margin: 3rem auto 2rem;
}
.join-us-container iframe {
  display: block;
  max-width: 100%;
  margin: auto;
}
/* #endregion */
/****************########################*****************/

/* #ABOUT PAGE  */
.about-section {
  max-width: 80%;
  margin: 5rem auto;
}
/* #endregion */

/* #SUCCESS PAGE  */
.success-page-container {
  max-width: 70%;
  margin-bottom: 5rem;
}

.success-page-container img {
  display: block;
  width: 50%;
  margin: auto;
}

.success-page-container blockquote p {
  font-weight: 400;
}

.success-page-container blockquote img {
  margin-top: 7rem;
}
/* #endregion */

/* #RESPONSIVE STYLES */
/* #tablet styles */
@media (min-width: 768px) {
  .hero {
    background-image: url('../images/hero-tablet2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
  }

  .success-section {
    max-width: 50%;
    margin: auto;
  }
}
/* #endregion */

/* #desktop styles  */
@media (min-width: 992px) {
  .hero {
    background-image: url('../images/hero-desktop2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
  }

  .success-section {
    max-width: 50%;
    margin: auto;
  }
}
/* #endregion */