body * {
    /* border: 1px solid red; */
}

.hero {
  height: 80vh;
  background-image: url('../images/hero-mobile2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  text-align: center;
  padding-top: 50px;
}

.benefits-section {}

.success-section {}

.resources {}

.cta-section {}

.footer-section {
    background-color: #EAA557;
    color: #39819A;
}

.footer-section a {
  text-decoration: none;
  color: #39819A;
}

.footer-section a:hover {
  color: #4798A6;
}

.poster {
    width: 70%;
    height: 100%;
    display: block;
    margin: auto;
    padding: 2rem;
}

.visible-text {
    font-size: 20px;
    color: white;
    text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
  }
  
.visisble-eight-text {
    text-shadow: 0.05em 0 black, 0 0.05em black, -0.05em 0 black, 0 -0.05em black, -0.05em -0.05em black, -0.05em 0.05em black, 0.05em -0.05em black, 0.05em 0.05em black;
  }

  /* .overlay {
    background-color: rgb(0, 0, 0, 0.6);
    border-radius: 15%;
    padding: 1.2rem 2.2rem;
    margin-top: 20rem;
  } */

  .overlay-2 {
    border-image: linear-gradient(hsl(140 10% 30% / .3),
    hsl(0 100% 30% / .3))
    fill 1;
  }

  .page-not-found {
    background-image: url('../images/poster.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
  }


  @media (min-width: 768px) {
    .hero {
    background-image: url('../images/hero-tablet2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }
  }

  @media (min-width: 992px) {
    .hero {
    background-image: url('../images/hero-desktop2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }
  }