.hero {
    height: 80vh;
    background-image: url('../images/hero-mobile2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
    text-align: center;
    padding-top: 50px;
}